[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
# In addition to ansible and linting tools,
# deps for docker and openstack providers are also included.

[packages]
ansible = "*"
ansible-lint = "*"
docker-py = "*"
yamllint = "*"
"flake8" = "*"
molecule = "*"
shade = "*"
python-gilt = "*"

[dev-packages]

[requires]
python_version = "2.7"
